.header-main {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 親要素のオーバーフローを隠す */
}

.header-main img {
    max-height: 100%;
    width: auto; /* 親要素に対して幅は自動で調整 */
    height: auto; /* 画像比率を保つ */
    object-fit: contain; /* 画像が親要素に収まる */
}

.profile-header-main{
    height: 300px;
    display:flex;
    align-items: center;
    padding: 0px 40px;
}

@media(max-width:768px) {
    .stack-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 小さいスクリーンでは幅を少し小さくする */
    }

    .header-main {
        height: 200px;
    }
    .profile-header-main{
        height: 180px;
    }
}

@media(max-width:650px) {
    .header-main {
        height: 180px;
    }
    .profile-header-main{
        height: 160px;
    }
    
}

.stacks-division-title{
    font-size: 20px;
    border-bottom: solid 1px#AAA;
}

.main-profile-info{
    color: #AAA;
    font-size: 16px;
    line-height: 12px;
}
.profile-name{
    font-size: 32px;
    font-weight: bold;
    line-height: 0px;
}
.profile-img{
    height: 80%;
    border-radius: 50%;
}

.main-profile-links{
    font-size: 16px;
    line-height: 12px;
    color:#3ea6ff;
}

.profile-header-info{
    height: 80%;
    margin-left:30px;
}


.more-info-label{
    color:#F1F1F1;
}


.profile-modal-main{
    position: fixed;
    width:400px;
    height: 600px;
    padding: 20px;
    background-color: #212121;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90000;
}

.profile-modal-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 0px;
}

.close-button-div{
    position:absolute;
    top:23px;
    right:15px;
    width:27px;
    height:27px;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease; 
    overflow: hidden;
}
.batsu-icon-img{
    width:80%;
    height: 80%;
    object-fit: contain;
}

.close-button-div:hover{
    background-color: #555555;
}

.profile-modal-info{
    font-size: 14px;
    line-height: 8px;
}
.profile-item-name{
    min-width:50px;
    display: inline-block;
}

.profile-section-item-name{
    min-width:160px;
    display: inline-block;
}

.profile-item-value {
  flex: 1;
  word-break: break-word;
}
.info-div{
    margin:40px 0px;
}
.icons-img{
    width: 40px;
    height:40px;
    margin-right: 10px;
    background-color: #F1F1F1;
    border-radius: 50%;
}
.urls-div{
    display: flex;
    justify-content: left; 
    align-items: center;
}
.links-label{
    line-height: 0px;
}
.page-status-change-div{
    display: flex;
    border-bottom: solid 0.5px #AAA;
}
.status-change-label{
    height:30px;
    font-size: 20px;
    display: inline-block;
    padding: 6px 10px;
    color: #AAA;
    margin-right: 10px;
}

.language-name-label {
font-size: 18px;
}

@media (max-width: 550px) {
    .status-change-label,
    .main-profile-info,
    .main-profile-links,
    .stacks-division-title,
    .section-info span,
    .parttime-title span,
    .parttime-title a ,
    .language-name-label,
    .language-desc label,
    .img-and-name label{
        font-size: 14px;
    }

    .status-change-label {
        height: 21px;
        display: inline-block;
        padding: 6px 6px;
    }

    .profile-name {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .profile-header-main {
        height: 140px;
        padding: 0px 2px;
    }

    .stack-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .profile-img {
        height: 60%;
    }

    .status-change-label,
    .main-profile-info,
    .main-profile-links,
    .stacks-division-title,
    .section-info span,
    .parttime-title span,
    .parttime-title a ,
    .language-name-label,
    .language-desc label,
    .img-and-name label{
        font-size: 14px;
    }

    .status-change-label {
        height: 21px;
        padding: 3px 3px;
    }

    .profile-name {
        font-size: 16px;
    }
}


.not-checked-status-change-label:hover{
    border-bottom: solid 2px #555555;
}
.checked-status{
    color: #F1F1F1;
    border-bottom: solid 2px #F1F1F1;
}
.img-and-name{
    margin-top: 10px;
    display: flex;
    justify-content: left; 
    align-items: center;
}

.language-name-label{
    width: fit-content;
}

.stack-icon-img{
    width: 50px;
    height:50px;
    width: fit-content;
    margin: 0px 10px;
}

.stack-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 要素の大きさを固定 */
    gap: 16px; /* 要素間のスペースを調整 */
  }
  
.stack-info-div {
min-height: 160px;
border: solid 1px #AAA;
box-sizing: border-box;
border-radius: 2px;
}

.img-and-name {
margin-top: 10px;
display: flex;
justify-content: left;
align-items: center;
}

.stack-icon-img {
width: 40px;
height: 40px;
margin: 0px 10px;
}


.language-desc {
overflow-wrap: break-word;
width: fit-content;
margin: 10px;
}


.parttime-title{
    font-size: 20px;
}

.parttile-links{
    color:#3ea6ff;
}
.section-info{
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
}

.experience-info{
    font-size: 18px;
}

.main-content-list{
    margin: 0;
    padding-left: 0;
}

.job-li{
    list-style:none;
}

  