body {
  margin: 0;
  font-family: "Verdana", "Geneva", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#F1F1F1;
  background-color: #141414; 
  min-width: 375px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

